body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;

}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    padding: 6px 16px;
    
}

td {
    text-align: center;
}